/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #cf1892;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.secao {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.inicio {
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.projeto {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.projeto img {
  width: 200px;
  border-radius: 8px;
}

footer {
  text-align: center;
  background-color: #cf1892; ;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
}

/* Responsivo */
@media (max-width: 768px) {
  .projeto {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
